.terms-settings {
  margin-top: 2.5rem;
}

.terms-wrapper {
  display: flex;
  gap: .75rem;
  align-items: flex-start;
  padding-bottom: 0.25rem;
}

.terms-wrapper strong {
  font: var(--text-sm);
  color: var(--brand-light);
  display: contents;
}

.terms-wrapper label {
  padding-top: .2rem;
}

.checkbox-wrapper {
  position: relative;
  cursor: pointer;

  & [type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
  }

  .checkbox-image {
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 4px;
  }

  &:has(:checked) .checkbox-image {
    background-image: url(/assets/icons/check.svg);
    background-position: center;
    border: 1px solid var(--brand-light);
  }
}