* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: var(--shape-background);
}

main:nth-child(2) {
  padding-top: 5rem;
}

:root {
  --font-baloo: "Baloo 2", sans-serif;
  --font-open: "Open Sans", sans-serif;
  --font-leckerli: "Leckerli One", sans-serif;


  --h1: 400 2.5rem/1 var(--font-leckerli);
  --h2: 700 1.75rem/1 var(--font-baloo);
  --h3: 700 1.125rem/1 var(--font-baloo);

  --text-md: 100 1rem/1 var(--font-open);
  --text-sm: 400 0.875rem/1 var(--font-open);
  --text-xm: 400 0.75rem/1 var(--font-open);

  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  --danger: #FF5959;

  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136; 
  --shape-hover: #383D42;

  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;
}

img {
  max-width: 100%;
  height: auto;
}