input,
textarea,
select {
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    border: 2px solid transparent;
    outline: 1px solid var(--input-stroke);
    background-color: var(--input-base);

    padding: .75rem 1rem;

    font: var(--text)
}

label {
  font: var(--text-md);
  color: var(--text-body);

  display: block;
  margin-bottom: .81rem;
}

input:focus,
select:focus,
textarea:focus,
input[type="date"]:focus-within {
    outline: 1px solid var(--input-stroke);
    border-color: var(--brand-light);
    outline-offset: 1px;
}

input[type="date"] {
  position: relative;

  &::-webkit-calendar-picker-indicator {
      opacity: 0;
  }
}

input::placeholder {
  font: var(--text-md);
  color: var(--input-placeholder);
}

input {
  &[disabled] {
      background-color: var(--input-base);

      border: 1px solid var(--input-stroke);

      color: var(--input-placeholder);
  }

  &:invalid {
      border: 0.125rem solid var(--danger);
  }

  &[required]+.error {
      display: flex;
      align-items: center;
      gap: .25rem;

      font: var(--text-sm);
      color: var(--danger);

      margin-top: .25rem;
  }

  &:not(:focus):valid+.error {
      display: none;
  }
}
